* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: "Outfit", serif;
    cursor: default;
    display: grid;
    grid-template-columns: 260px 1fr;
}

:root {
    --main-color: #ffff;
    --font-color: #f1f1f1;
    --aside-color: #1992D4;
    --search-bg-color: #E2E8F0;
    --yellow-border: #F0B429;
    --gray-font-color: #636363;
    --hover-bg-color: #ffffff22;
    --black-color: #000;
}


p {
    color: var(--font-color);
    font-size: 15px;
    font-weight: 600;
}

svg {
    height: 22px;
    fill: var(--main-color);
}

a {
    text-decoration: none;
}


        /*  -- START HEADER CODE --  */

aside {
    height: 100vh;
    width: 260px;
    top: 0;
    left: 0;
    position: fixed;
    box-sizing: border-box;
    background-color: var(--aside-color);
    display: grid;
    grid-row-start: 1;
    grid-row-end: 6;
    grid-template-rows: 1fr 8fr;
}

/* -- header logo area -- */

.logo-area {
    display: grid;
    padding: 3px 20px;
    .logo-text {
        display: flex;
        align-items: center;
        gap: 6px;
        #logo-img {
            height: 35px;
            width: 35px;
            fill: var(--font-color);
        }
        #logo-font {
            font-family: "Unbounded", serif;
            font-size: 20px;
        }
    }
}

/* -- header nav area -- */

.nav-area {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 18px 0;
    .upper-nav-area {
        display: grid;
        padding: 3px 20px;
        #logo-text {
            padding: 0 9px;
            display: grid;
            grid-template-columns: 38px 1fr;
            align-items: center;
            border-radius: 14px;
        }
        #logo-text:hover {
            background-color: var(--hover-bg-color);
        }
    }
    
    .lower-nav-area {
        display: grid;
        grid-template-rows: 1fr 1fr;
        .lower-nav-btn-area {
            display: grid;
            padding: 3px 20px;
            #logo-text {
                padding: 0 9px;
                display: grid;
                grid-template-columns: 38px 1fr;
                align-items: center;
                border-radius: 14px;
            }
            #logo-text:hover {
                background-color: var(--hover-bg-color);
            }
        }
    }
}

        /*  -- START MAIN SECTION --  */

section {
    grid-column: 2;
    height: 200vh;
    overflow-y: auto;
    background-color: var(--main-color);
}
header {
    height: 11vh;
    display: grid;
    grid-template-columns: 1fr 250px 100px 200px;
    .search-area-section {
        display: grid;
        place-content: center;
        .search-area {
            display: grid;
            grid-template-columns: 35px 1fr;
            svg {
                fill: var(--black-color);
            }
            #search-input {
                width: 400px;
                font-size: 15px;
                background-color: transparent;
                border: none;
                font-family: "Outfit", serif;
                background-color: var(--search-bg-color);
                padding: 7px 15px;
                border-radius: 20px;
            }
            #search-input:focus {
                outline: 2px solid var(--aside-color);
            }
        }
    }

    .notify-icon-area {
        display: grid;
        place-content: center;
        svg {
            fill: var(--black-color);
        }
        svg:hover {
            transition: .2s;
            fill: var(--aside-color);
        }
    }

    .account-profile-area {
        display: grid;
        grid-template-columns: 45px 1fr;
        align-items: center;
        .profile-font {
            font-family: "Unbounded", serif;
            color: var(--black-color);
            font-size: 14px;
        }
    }
}