* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: "Outfit", serif;
    cursor: default;
    display: grid;
    grid-template-columns: 260px 1fr;
    overflow: hidden; /* remove 2nd scroll bar */
}

:root {
    --main-color: #ffff;
    --font-color: #f1f1f1;
    --aside-color: #1992D4;
    --search-bg-color: #E2E8F0;
    --yellow-border: #F0B429;
    --gray-font-color: #636363;
    --hover-bg-color: #ffffff22;
    --black-color: #000;
}


p {
    color: var(--font-color);
    font-size: 15px;
    font-weight: 600;
}

svg {
    height: 22px;
    fill: var(--main-color);
}

a {
    text-decoration: none;
}

        /*  -- START HEADER CODE --  */

aside {
    height: 100vh;
    width: 260px;
    top: 0;
    left: 0;
    position: fixed;
    box-sizing: border-box;
    background-color: var(--aside-color);
    display: grid;
    grid-row-start: 1;
    grid-row-end: 6;
    grid-template-rows: 1fr 8fr;
}

/* -- header logo area -- */

.logo-area {
    display: grid;
    padding: 3px 20px;
    .logo-text {
        display: flex;
        align-items: center;
        gap: 6px;
        #logo-img {
            height: 35px;
            width: 35px;
            fill: var(--font-color);
        }
        #logo-font {
            font-family: "Unbounded", serif;
            font-size: 20px;
        }
    }
}

/* -- header nav area -- */

.nav-area {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 18px 0;
    .upper-nav-area {
        display: grid;
        padding: 3px 20px;
        #logo-text {
            padding: 0 9px;
            display: grid;
            grid-template-columns: 38px 1fr;
            align-items: center;
            border-radius: 14px;
        }
        #logo-text:hover {
            background-color: var(--hover-bg-color);
        }
    }
    
    .lower-nav-area {
        display: grid;
        grid-template-rows: 1fr 1fr;
        .lower-nav-btn-area {
            display: grid;
            padding: 3px 20px;
            #logo-text {
                padding: 0 9px;
                display: grid;
                grid-template-columns: 38px 1fr;
                align-items: center;
                border-radius: 14px;
            }
            #logo-text:hover {
                background-color: var(--hover-bg-color);
            }
        }
    }
}

        /*  -- START MAIN SECTION --  */

section {
    grid-column: 2;
    height: 200vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--main-color);
    box-sizing: border-box;
}

        /*  -- START HEADER SECTION --  */
header {
    height: 11vh;
    display: grid;
    grid-template-columns: 1fr 250px 95px 240px;
    .search-area-section {
        display: grid;
        place-content: center;
        .search-area {
            display: grid;
            grid-template-columns: 35px 1fr;
            svg {
                fill: var(--black-color);
            }
            #search-input {
                width: 400px;
                font-size: 15px;
                background-color: transparent;
                border: none;
                font-family: "Outfit", serif;
                background-color: var(--search-bg-color);
                padding: 7px 15px;
                border-radius: 20px;
            }
            #search-input:focus {
                outline: 2px solid var(--aside-color);
            }
        }
    }

    .notify-icon-area {
        display: grid;
        place-content: center;
        svg {
            fill: var(--black-color);
        }
        svg:hover {
            transition: .2s;
            fill: var(--aside-color);
        }
    }

    .account-profile-area {
        display: grid;
        grid-template-columns: 45px 1fr;
        align-items: center;
        .profile-font {
            font-family: "Unbounded", serif;
            color: var(--black-color);
            font-size: 14px;
        }
    }
}

        /*  -- START SUB HEADER SECTION --  */

sub-header {
    height: 15vh;
    display: grid;
    grid-template-columns: 400px 1fr 355px;
    border-bottom: 7px solid #ced3da7b;
    .project-img-font-area {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
        .font-1 {
            color: var(--black-color);
        }
        .font-2 {
            color: var(--black-color);
            font-size: 20px;
        }
    }
    .button-area {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 11px;
        button {
            background-color: var(--aside-color);
            color: var(--font-color);
            border: none;
            height: 35px;
            width: 76px;
            border-radius: 20px;
            font-weight: 600;
        }
    }
}

        /*  -- START MAIN SECTION --  */

main {
    height: 220vh;
    display: grid;
    grid-template-columns: 1fr 265px;
    background-color: #E2E8F0;
    font-family: "Roboto", serif;
    overflow: auto;
}
        /*  -- START MAIN PROJECT SECTION --  */

.project-area-section {
    display: grid;
    grid-template-rows: 30px 1fr;
    padding: 18px;
    .project-area-heading-font {
        display: flex;
        align-items: center;
        .project-font {
            color: var(--black-color);
            font-size: 17px;
        }
    }
    .project-div-area {
        height: 100vh;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 1fr;
        .project-container {
            height: 33vh;
            border-radius: 7px;
            background-color: var(--main-color);
            border-left: 7px solid var(--yellow-border);
            padding: 30px 25px;
            display: grid;
            grid-template-rows: 1fr 30px;
            .container-text {
                display: flex;
                flex-direction: column;
                gap: 6px;
                p {
                    font-weight: 400;
                    font-size: 14px;
                    color: var(--gray-font-color);
                }
            }
            .container-icons {
                display: grid;
                grid-template-columns: 1fr 50px 50px 50px;
                .container-icons1, .container-icons2, .container-icons3 {
                    display: grid;
                    place-content: center;
                    svg {
                        fill: var(--black-color);
                    }
                    svg:hover {
                        fill: var(--aside-color);
                        transition: .2s;
                    }
                }
            }
        }
    }
}

.announcment-trending-area {
    height: 110vh;
    display: grid;
    grid-template-rows: 1fr 310px;
    margin-top: 18px;
    margin-right: 18px;
    gap: 30px;
    .announcment-area-section {
        display: grid;
        grid-template-rows: 30px 1fr;
        .announcment-area-heading-font {
            display: flex;
            align-items: center;
            .announcment-font {
                color: var(--black-color);
                font-size: 17px;
            }
        }
        .announcment-container {
            background-color: var(--main-color);
            border-radius: 7px;
            padding: 5px 25px;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            .announcement {
                display: grid;
                place-content: center;
                p {
                    font-weight: 400;
                    font-size: 12px;
                    color: var(--gray-font-color);
                }
            }
            .announcement2 {
                border-top: 2px solid #DEDEDE;
            }
        }
    }
    .trending-area-container {
        display: grid;
        grid-template-rows: 30px 1fr;
        background-color: yellow;
    }
}